
<!DOCTYPE html>
<html lang ="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="/style.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<title>My Portfolio</title>
<body>

    <!-- Navigation Bar -->
<nav  navbar navbar-default>
    <div class="container-fluid">
      <div class="navbar-header">
        <img class="navbar-brand" src="logo.jpg" alt="RvTech_Logo" width="50" height="50" >
        <a class="navbar-brand" href="#">Rv Tech</a>
      </div>

      <ul  class="nav navbar-nav navbar-right">
            <li><a class="active" href="/Home"> Home</a></li>
            <li><a  href="/about"> About me</a></li>
            <li><a href="/projects"> projects</a></li>
            <li><a href="/services"> services</a></li>
            <li><a href="/contact"> contact</a></li>
      </ul>
    </div>
</nav>


<!-- Main Content -->
<div class="jumbotron text-center">
    <h1>Welcome Rv_Tech Website</h1>
    <p>"When the TIME is right, The LORD will make it happen"</br>
  
    Isiah 60:22
    </p> 
  </div>
    
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3>Personal Profile</h3>
        Name:</br>
        <p>Roy</p>
        Program: </br>
        <p>Software Engineering Technician</p>
        Sport:</br>
        Basketball</br>
        <a href="/about">To know more about me. Click here!</a>
    
      </div>
      <div class="col-sm-4">
        <h3>Mission Statement</h3>
        <p>I constantly strive to be the best version of myself.</p>
      </div>
      <div class="col-sm-4">
        <h3>Skills</h3> 
        <p>*HARDWARE</p>       
        <p>●Disassembly/reassembly computer, Motherboard components, power supplies and connectors, memory cards, peripherals including multimedia device, printers and modem.</p>
      </br>
      <p>*SOFTWARE</p>       
        <p>●  Windows 7, Windows 10, Windows XP</br>
           ● Microsoft Office, HTML, PHP, Visual Basic, SQL Server Management Studio, Photoshop, Sketchup etc.
          </p>
      </div>
    </div>
  </div>

</body>
</head>
