<!DOCTYPE html>
<html lang ="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="/style.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<title>My Portfolio</title>
<body>
    <!-- Navigation Bar -->
    <nav  navbar navbar-default>
      <div class="container-fluid">
        <div class="navbar-header">
          <img class="navbar-brand" src="logo.jpg" alt="RvTech_Logo" width="50" height="50" >
          <a class="navbar-brand" href="#">Rv Tech</a>
        </div>
  
        <ul  class="nav navbar-nav navbar-right">
              <li><a class="active" href="/Home"> Home</a></li>
              <li><a  href="/about"> About me</a></li>
              <li><a href="/projects"> projects</a></li>
              <li><a href="/services"> services</a></li>
              <li><a href="/contact"> contact</a></li>
        </ul>
      </div>
  </nav>
  


<!-- Main Content -->
<div class="jumbotron text-center">
    <h1>3 Projects</h1>
  </div>
    
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3>Artificial Intelligence Chatbot</h3>
        <img src="chatbot.png" alt="Costume_Template Design" style="width:100%">
      </div>
      <div class="col-sm-4">
        <h3>J.A.R.V.I.S</h3>
        <img src="jarvis.png" alt="Costume_Template Design" style="width:90%">
      </div>
      <div class="col-sm-4">
        <h3>Chat application </h3> 
        <img src="chat.png" alt="Costume_Template Design" style="width:40%">
      </div>
    </div>
  </div>
  

</body>
</head>
