<!DOCTYPE html>
<html lang ="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="/style.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<title>My Portfolio</title>
<body>
    <!-- Navigation Bar -->
    <nav  navbar navbar-default>
      <div class="container-fluid">
        <div class="navbar-header">
          <img class="navbar-brand" src="logo.jpg" alt="RvTech_Logo" width="50" height="50" >
          <a class="navbar-brand" href="#">Rv Tech</a>
        </div>
  
        <ul  class="nav navbar-nav navbar-right">
              <li><a class="active" href="/Home"> Home</a></li>
              <li><a  href="/about"> About me</a></li>
              <li><a href="/projects"> projects</a></li>
              <li><a href="/services"> services</a></li>
              <li><a href="/contact"> contact</a></li>
        </ul>
      </div>
  </nav>
  
<!--About business section -->
<div class="about-section">
  <h1>We help your Business</h1>
  <p>Let's make your website more attractive!</p>
</div>


<h2 style="text-align:center">Services we offer!</h2>
</br>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="cst.jpeg" alt="Costume_Template Design" style="width:100%">
      <div class="container">
        <h2>Costum Template Designing</h2>
        <p class="title">Templating</p>
        <p> pre-designed layouts that allow you to arrange content onto a </br>
          web page to quickly create a well-designed website</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="wd.png" alt="Web Development" style="width:92%">
      <div class="container">
        <h2>Web Development</h2>
        <p class="title">Web Develope</p>
        <p>associated with creating, building, and maintaining websites </br>
          and web applications that run online on a browser. </p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="wm.jpg" alt="Web_Maintenance" style="width:100%">
      <div class="container">
        <h2>Web Maintenance</h2>
        <p class="title">Maintenance Work</p>
        <p>keeping your website up-to-date and running smoothly as well</br>
           as performing optimally. Website maintenance includes tasks like </br>
           ensuring all the links on your site are working,</br>
            regularly updating content, and fixing any broken links.</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>
</body>
</head>
